<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is a simple web application, created with Node.js and Express, to request forecast data on a given location. It uses Mapbox's Geolocation API and DarkSky's Forecast API.</p>
        <p>Who created it? It was me, {{name}}!</p>
        <h2>Want to get in contact with me?</h2>
        <p>Shoot me an email at: {{email}}</p>


        <img src="./img/me.jpeg" class="about-profile" alt="Picture of myself">
    </div>

    {{>footer}}
</body>
</html>