:root {
    --main-text-color: #212121;
    --second-text-color: #484848;
    --light-text-color: #8e8e8e;
    --main-background-color: #3d5afe;
    --second-background-color: #8187ff;
}

body {
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: var(--light-text-color);
    border-top: 1px solid var(--second-background-color);
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    color: var(--main-text-color);
    font-size: 64px;
    margin-bottom: 16px;
}

h2 {
    color: var(--main-text-color);
    font-size: 24px;
    margin-bottom: 16px;
}

p {
    color: var(--second-text-color);
}

header a {
    color: var(--second-background-color);
    margin-right: 16px;
    text-decoration: none;
}

.about-profile {
    width: 20vw;
    margin-top: 16px;
}

input {
    border: 1px solid var(--second-background-color);
    padding: 10px;
}

button {
    cursor: pointer;
    border: 1px solid var(--second-background-color);
    background: var(--main-background-color);
    color: white;
    padding: 10px;
}